---
layout: default
title: Donate
permalink : /donate
---
<div>
<h5 class="center upper-bold accent">Donate For KryPtoN kernel and Komodo OS</h5>
</div>
         <div>
          <div class="col s12 m12 center builds">
              <ul class="collapsible collapsible-builds">
                        <h5 class="center upper-bold accent">Internasional</h5>
				<li>
				  <div class="collapsible-header">
					<i class="material-icons">payment</i>
					<span style="width: 100%">Paypal</span>
					<i class="material-icons">arrow_drop_down</i>
				  </div>

				  <div class="collapsible-body">
			              <p class="label" >Link Paypal click here</p>
                                      <a href="https://www.paypal.me/KomodoOS">
                                      <img class="center" src="http://clipart-library.com/images_k/paypal-donate-button-transparent/paypal-donate-button-transparent-7.png" style="width: 300px; height: 100px;">
                                      </a>
				  </div>
				</li>
                </ul>
          </div>
        </div>

        <div>
          <div class="col s12 m12 center builds">
              <ul class="collapsible collapsible-builds">
			{% for indonate in site.donate %}
                        <h5 class="center upper-bold accent">Local donate (Indonesia)</h5>
				<li>
				  <div class="collapsible-header">
					<i class="material-icons">payment</i>
					<span style="width: 100%">{{doante.title}}</span>
					<i class="material-icons">arrow_drop_down</i>
				  </div>

				  <div class="collapsible-body">
				       <p class="label" >{{donate.method}}</p>
                                       <p>{{donate.info}}</p>
                                       <p>{{donate.info2}}</p>
                                       {% if donate.url %}
                                       <a href="{{donate.url}}">
                                       {% endif %}
                                       {% if donate.image %}
                                       <img src="{{doante.image}}">
                                       </a>
                                       {% endif %}
				  </div>
				</li>
                       {% endfor %}
                </ul>
          </div>
      </div>
