<head>
  <!-- Primary Meta Tags -->
  <title>KryPtoN Project | Home</title>
  <meta name="title" content="KryPtoN Project | Home">
  <meta name="description" content="KryPtoN Project | Home">
  <link rel="shortcut icon" href="/asset/img/icon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <link href="https://fonts.googleapis.com/css?family=Product+Sans" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="stylesheet" href="/static/css/styles.css">
  <meta name="msapplication-TileColor" content="#D50000">
  <meta name="theme-color" content="#D50000">


  <script src="/static/js/theme.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140200715-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140200715-1');
</script>



</head>
