<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/static/js/downloads.js"></script>
<script> 
$(function(){
  $("#header").load("/_includes/head.html");
  $("#navbar").load("/_includes/navbar.html");
  $("#button").load("/_includes/button.html");
  $("#fload").load("/_includes/floadbutton.html");
  $("#footer").load("/_includes/footer.html");
});
</script>
