<!-- NAVBAR -->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large left"><i
          class="material-icons left">menu</i></a>
    </div>
  </nav>
</div>
<div id="app">
  <ul id="slide-out" class="sidenav">
    <div>
      <a class="bar-logo center" href="/">
        <img src="/asset/img/icon.png" width="100" height="100">
        <h4 class="accent">KryPtoNProject</h4>
      </a>

	</div>
	<h6 class="accent" style="margin-left: 14px;  margin-top: 50px">Kernel</h6>
	<ul class="collapsible collapsible-accordion">
	  <li>
		<div class="collapsible-header">
		  <i class="material-icons">phone_android</i>
		  <span style="width: 90%">Redmi 5 Plus (Vince)</span>
		  <i class="material-icons">arrow_drop_down</i>
		</div>

		<div class="collapsible-body">
		  <ul>
			<li>
			  <a href="{{- '/kernel/vince/4.9/' | relative_url -}}">AOSP 4.9</a>
			</li>
			<li><a href="{{- '/kernel/vince/3.18/' | relative_url -}}">AOSP 3.18</a>
			</li>
			<li><a href="{{- '/kernel/vince/miui' | relative_url -}}">MIUI</a>
			</li>
		  </ul>
		</div>
	  </li>
	</ul>
  </ul>
</div>
<!-- END NAVBAR -->
